.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dbn-image-result {
  border-radius: 8px;
  background-color: var(--dbn-lighter-background-color);
  transition: 200ms;
}

.dbn-image-result.darkmode {
  background-color: #524283;
  transition: 200ms;
}

.dbn-image-holder {
  background-color: white;
}

.dbn-image-holder.crosshairs {
  cursor: crosshair;
}

.dbn-image-control-bar button {
  font-size: 0.75rem;
  padding-left: 6px;
  padding-right: 6px;
}

.dbn-image-control-bar {
  margin-bottom: 20px;
  background-color: #aaa5c5;
  padding: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  transition: 200ms;
}

.dbn-image-control-bar.darkmode {
  background-color: #150f38;
  transition: 200ms;
}

.dbn-image-control-bar .zoom-indicator {
  font-weight: bold;
}

.dbn-image-control-bar-fixed-pill-content {
  display: inline-block;
}

.dbn-image-description {
  text-align: center;
}
.dbn-image-description h5 {
  margin-bottom: 0px;
}
.dbn-image-description.darkmode {
  color: white;
  transition: 200ms;
}

.dbn-image-render-status {
  font-size:  0.8rem;
  padding: 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  white-space: nowrap;
  margin-top: 20px;
  transition: 200ms;
}
.dbn-image-render-status.darkmode {
  background-color: #050216!important;
  color: white;
  transition: 200ms;
}

.dbn-image-render-status-message {
  font-weight: bold;
}

.dbn-image-render-status-stats {
  font-style: italic;
}

.code-input {
  font-family: monospace;
  font-size: 0.9rem;
}

body {
  /*background-color: #fbfaff !important;*/
  background-color: #d6d2e7 !important;
}

:root {
  --dbn-lighter-background-color: #ece9f5;
}

.dbn-about-content {
  background-color:  var(--dbn-lighter-background-color);
}

.dbn-about-sample-code {
  font-size: .7rem;
  background-color: white;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.2);
}

.render-logs {
  background-color: #525252;
  color: white;
  font-family: monospace;
  padding: 3px;
  font-size: .75rem;
  border-radius: 3px;
}

.render-logs p {
  margin: 0px;
}

.ethereum-connect-navbar {
  background-color: #525252;
  padding-left:  10px;
  border-top-left-radius: 5px;
  border-radius: 5px;
  font-size: .75rem;
  white-space: nowrap;
}

.ethereum-connect-navbar button {
  font-size:  0.75rem;
}

.dbnft-status-dot {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 0.4rem;
  position: relative;
  top: 0.2rem;
  background-color: #c1bdbd;
}

.dbnft-status-dot.error {
  background-color:  red;
}

.dbnft-status-dot.pending {
  background-color:  #ffbc00;
}

.dbnft-status-dot.ok {
  background-color:  green;
}

.ethereum-connect-connect-message {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  font-style: italic;
}

.dbn-image-mint-controls {
  width: 303px;
  margin-top: 20px;
}

.dbn-mint-modal .modal-content {
  background-color: #d6d2e7;
}

.dbn-mint-modal {
  font-size: 0.9rem;
}

.dbn-mint-modal-description {
  font-weight: bold;
  text-align: center;
}

.dbn-mint-modal-text {
  text-align:  center;
  margin-top:  20px;
  overflow:  scroll;
}

.dbn-token-metadata-table {
  text-align:  left;
  font-size: 0.8rem;
}

.dbn-nft-viewer {
  text-align: center;
}

.dbn-nft-viewer .dbn-image-control-bar {
  text-align: left;
}

.dbn-nft-viewer .dbn-image-render-status {
  text-align: left;
}
